* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a { color:white; text-decoration: none;  } /* Globally */

/* nav */
/* basic nav structure along with some styling */
.nav {
  font-family: 'IBM Plex Sans', sans-serif;
  color: white;
  display: flex;
  justify-content: space-around;
  background-color: darkslategray;
  max-width: 100%;
}
.logo { 
  width: 50px;
}

.right {
  display: flex;
  justify-content: space-around; 
}
.right h4 {
  padding: 10px;
  margin-top: 10px;
}
.main-top {
  position: relative;
}

/* header image and p */
.header-intro-img {
  width: 100%;
}

.header-intro-p {
  font-family: 'IBM Plex Sans', sans-serif;
  color: black;
  line-height: 25px;
}

/* events */
/* general events styling while making them flexboxx, there are a few repetitions like in the first media query */
.main-mid {
  display: flex; 
  justify-content: space-around;
  max-width: 100%;
  padding: 10px;
}

.events-img, .enroll-img, .donate-img { 
  border-radius: 5px; 
  max-width: 100%;
}

.events-content, .enroll-content, .donate-content {
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 25px;
}

.events p, .enroll p, .donate p { 
  padding: 10px;
  font-size: 20px;
  line-height: 1.4;
}

.submit-events, .submit-enroll, .submit-donate {
  width: 100%;
  height: 60px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
}


/* footer */
.footer-nav {
  background: darkslategray;
  height: 150px;
  width: 100%;
  font-family: 'IBM Plex Sans', sans-serif;
  position: relative;
  display: flex;
  color: white;
}

/* footer social media icons */
.fa-facebook-square {
  font-size: 25px;
}

.footer-title {
  display: inline-block;
  padding-left: 5px;
  min-width: 200px;
  max-width: 350px;
}

.footer-logo { 
  display: block;
  margin: auto;
  width: 80px;
  height: 100px;
}

.footer-contact-information {
  font-size: 15px;
  border-left: 1px solid black;
  display: inline-block;
  padding-top: 10px;
  padding-left: 3px;
  list-style-type: none;
}

.footer-creator-copyright {
  font-size: 10px;
  position: absolute;
  bottom: 150px;
  right: 5px;
}

.footer-contact-information li {
  padding: 5px;
  margin: 3px;
}

@media screen and (min-width: 3px) and (max-width: 768px) {
  /* nav */
  .nav {
    display: flex;
    justify-content: space-around;
    background-color: darkslategray;
    height: 70px;
  }

  .logo { 
    width: 50px;
  }

  .right {
    display: flex;
    justify-content: space-around; 
  }

  .right h4 {
    padding: 10px;
    margin-top: 10px;
  }

  /* header */
  /* styling the header p while centering it and adding a border */
  .header-intro-p {
    max-width: 80%;
    padding: 10px;
    margin: auto;
    font-size: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 1.3;
    border: 1px solid black;
    border-radius: 5px;
  }

  .header-intro-img {
    padding: 10px;
    border-radius: 20px;
  }

 
  /* events */
  /* make the events in column format with flexbox and styling the boxes, the height is fixed to 350px and width to 450px */
  .main-mid {
    flex-direction: column;
  }

  .events, .enroll, .donate {
    display: inline-block;  
    width: 100%;
    max-width:100%;
    border: 3px solid darkslategray;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .submit-events, .submit-enroll, .submit-donate {
    margin-top: 28px;
    border-radius: 5px;
    font-size: 20px;
    background: teal;
    border: 1px solid teal;
    color: ghostwhite;
    z-index: -1;
  }

  .events-img, .enroll-img, .donate-img {
    width: 100%;
  }

}

@media screen and (min-width: 768px) and (max-width: 1360px) {

  /* change the header p to below the front picture and centered */
  .header-intro-p {
    max-width: 80%;
    border: 1px solid darkslategray;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
    font-size: 25px;
    line-height: 1.4;
  }

  /* nav */
   /* basic steps to creating a nav bar and styling it */
  .nav {
    display: flex;
    justify-content: space-around;
    background-color: darkslategray;
    height: 70px;
  }

  .logo { 
    width: 50px;
  }

  .right {
    display: flex;
    justify-content: space-around; 
  }

  .right h4 {
    padding: 10px;
    margin-top: 10px;
  }

  /*  events */
  /* make the events in row direction and styling them */
  .main-mid {
    flex-direction: row;
  }

  .events-content, .enroll-content, .donate-content {
    height: 300px;
  }

  .events, .enroll, .donate {
    display: inline-block;  
    width: 450px;
    border: 3px solid darkslategray;
    border-radius: 10px;
    margin: 10px;
  }

  .submit-events, .submit-enroll, .submit-donate {
    margin-top: 28px;
    border-radius: 5px;
    font-size: 20px;
    background: teal;
    border: 1px solid teal;
    color: ghostwhite;
  }

  /* footer */
  /* we center it while having it in display flex which makes the contact us part stick next to it */
  .footer-nav {
    display: flex;
    justify-content: center;
  }

  .footer-title {
    padding: 5px;
  }

  .footer-contact-information {
    padding: 10px;
  }

}
@media screen and (min-width: 1360px) and (max-width: 4000px) {

  /* placing the header p in a convenient position in the header picture with position absolute */
  .header-intro-p {
    margin-left: 10px;
    position: absolute;
    top: 48%;
    left: 48%;
    width: 340px;
    font-size: 20px;
  }

  /* nav bar */
  /* basic steps to creating a nav bar and styling it */
  .nav {
    display: flex;
    justify-content: space-around;
    background-color: darkslategray;
    height: 70px;
  }
  .logo { 
    width: 50px;
  }

  .right {
    display: flex;
    justify-content: space-around; 
  }
  .right h4 {
    padding: 10px;
    margin-top: 10px;
  }

   /*  events */
   /* make the events in row format with flexbox and styling the boxes, the height is fixed to 350px and width to 450px */
   .main-mid {
    flex-direction: row;
  }

  .events-content, .enroll-content, .donate-content {
    height: 350px;
  }
  .events, .enroll, .donate {
    display: inline-block;  
    width: 450px;
    border: 3px solid darkslategray;
    border-radius: 10px;
    margin: 10px;
  }

  .events-img, .enroll-img, .donate-img {
    width: 450px;
  }

  .submit-events, .submit-enroll, .submit-donate {
    margin-top: 25px;
    border-radius: 5px;
    font-size: 20px;
    background: teal;
    border: 1px solid teal;
    color: ghostwhite;
  }

  /* footer */
  /* we center it while having it in display flex which makes the contact us part stick next to it */

  .footer-nav {
    display: flex;
    justify-content: center;
  }

  .footer-title {
    padding: 5px;
  }

  .footer-contact-information {
    padding: 10px;
  }
}