* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* nav */
.nav {
  font-family: 'IBM Plex Sans', sans-serif;
  color: white;
  display: flex;
  justify-content: space-around;
  background-color: darkslategray;
  max-width: 100%;
  /* height: 70px; this one goes in the media queries*/ 
}
.logo { 
  width: 50px;
}

.right {
  display: flex;
  justify-content: space-around; 
}
.right h4 {
  padding: 10px;
  margin-top: 10px;
}
.main-top {
  position: relative;
}

/* header image and p */
.header-intro-img {
  width: 100%;
}

.header-intro-p {
  font-family: 'IBM Plex Sans', sans-serif;
  color: black;
  line-height: 25px;
}

/* events */
.main-mid {
  display: flex; 
  justify-content: space-around;
  max-width: 100%;
  padding: 10px;
}

.events-img, .enroll-img, .donate-img { 
  border-radius: 5px; 
  max-width: 100%;
}

.events-content, .enroll-content, .donate-content {
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 25px;
}

.events p, .enroll p, .donate p { 
  padding: 10px;
  font-size: 20px;
  line-height: 1.4;
}

.submit-events, .submit-enroll, .submit-donate {
  width: 100%;
  height: 60px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
}


/* footer */
.footer-nav {
  bottom: 0px;
  background: darkslategray;
  height: 150px;
  width: 100%;
  display: flex;
}

.footer-left-side {
  display: flex;
  color: white;
  font-family: 'IBM Plex Sans', sans-serif;
  margin-left: 100px;
}

.footer-right-side {
  font-family: 'IBM Plex Sans', sans-serif;
  color: white;
  margin-right: 100px;
}

/* social media icons */
.fa {
  font-size: 50px;
}

.footer-contact {
  padding: 20px;
  font-size: 20px;
}
.footer-contact ul {
  list-style-type: none;
}

.footer-contact ul li {
  padding: 3px;
}

.footer-logo {
  width: 100px;
  height: 140px;
}

@media screen and (min-width: 3px) and (max-width: 375px) {
  .header-intro-p {
    max-width: 80%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
  }

  .main-mid {
    flex-direction: column;
  }
}

@media screen and (min-width: 375px) and (max-width: 768px){
  .header-intro-img {
    padding: 10px;
    border-radius: 20px;
  }

  .header-intro-p {
    max-width: 80%;
    padding: 10px;
    margin: auto;
    font-size: 25px;
    line-height: 1.4;
    border: 1px solid black;
    border-radius: 5px;
  }

  .nav {
    display: flex;
    justify-content: space-around;
    background-color: darkslategray;
    height: 70px;
  }

  .logo { 
    width: 50px;
  }

  .right {
    display: flex;
    justify-content: space-around; 
  }

  .right h4 {
    padding: 10px;
    margin-top: 10px;
  }

  .main-mid {
    flex-direction: column;
  }

  /* events */
  .events, .enroll, .donate {
    display: inline-block;  
    width: 100%;
    max-width:100%;
    border: 3px solid darkslategray;
    border-radius: 10px;
    margin: 10px;
  }

  .events-img, .enroll-img, .donate-img {
    width: 100%;
  }

}

@media screen and (min-width: 768px) and (max-width: 1360px) {
  .header-intro-p {
    max-width: 80%;
    border: 1px solid green;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
    font-size: 25px;
    line-height: 1.4;
  }

  /* nav */
  .nav {
    display: flex;
    justify-content: space-around;
    background-color: darkslategray;
    height: 70px;
  }

  .logo { 
    width: 50px;
  }

  .right {
    display: flex;
    justify-content: space-around; 
  }

  .right h4 {
    padding: 10px;
    margin-top: 10px;
  }

  /*  events */
  .main-mid {
    flex-direction: row;
  }

  .events-content, .enroll-content, .donate-content {
    height: 300px;
  }

  .events, .enroll, .donate {
    display: inline-block;  
    width: 450px;
    border: 3px solid darkslategray;
    border-radius: 10px;
    margin: 10px;
  }

  .submit-events, .submit-enroll, .submit-donate {
    margin-top: 28px;
    border-radius: 5px;
    font-size: 20px;
    background: teal;
    border: 1px solid teal;
    color: ghostwhite;
    z-index: -1;
  }

}
@media screen and (min-width: 1360px) and (max-width: 1920px) {
  .header-intro-p {
    margin-left: 10px;
    position: absolute;
    top: 48%;
    left: 48%;
    width: 340px;
    font-size: 20px;
  }
  .nav {
    display: flex;
    justify-content: space-around;
    background-color: darkslategray;
    height: 70px;
  }
  .logo { 
    width: 50px;
  }

  .right {
    display: flex;
    justify-content: space-around; 
  }
  .right h4 {
    padding: 10px;
    margin-top: 10px;
  }

   /*  events */
   .main-mid {
    flex-direction: row;
  }

  .events-content, .enroll-content, .donate-content {
    height: 350px;
  }
  .events, .enroll, .donate {
    display: inline-block;  
    width: 450px;
    border: 3px solid darkslategray;
    border-radius: 10px;
    margin: 10px;
  }

  .events-img, .enroll-img, .donate-img {
    width: 450px;
  }

  .submit-events, .submit-enroll, .submit-donate {
    margin-top: 25px;
    border-radius: 5px;
    font-size: 20px;
    background: teal;
    border: 1px solid teal;
    color: ghostwhite;
    z-index: -1;
  }
}